@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .popover-btn {
    @apply w-[39px] h-[39px] p-2.5 ml-2 rounded-full bg-fb-popover flex justify-center items-center cursor-pointer active:bg-fb-active;
  }

  .popover-panel {
    @apply w-[300px] p-4 bg-fb-header rounded-lg shadow-lg absolute right-0 top-12 border border-fb-input lg:w-[360px];
  }

  .story {
    @apply flex-1 px-[4px] min-w-[120px] cursor-pointer;
  }

  .story-image {
    @apply object-cover w-full h-full transition-transform duration-500 transform hover:scale-105;
  }

  .card {
    @apply rounded-lg mt-4 px-4 py-3 bg-fb-card;
  }
}

.swiper-container {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 5px !important;
}

.swiper-slide {
  width: auto !important;
  margin-right: 0 !important;
}

.swiper-button-next {
  background-image: url(https://bruce-fe-fb.web.app/image/right-arrow.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  border-radius: 9999px;
  background-color: #3e4042;
  width: 36px !important;
  height: 36px !important;
  top: 29px !important;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(https://bruce-fe-fb.web.app/image/left-arrow.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  border-radius: 9999px;
  background-color: #3e4042;
  width: 36px !important;
  height: 36px !important;
  top: 29px !important;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-disabled {
  opacity: 0 !important;
}



/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar{
  display: none;
}

/* Firefox */
.no-scrollbar{
  scrollbar-width: none;
}



/* @layer base{ */
  /* width */
  /* ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  } */
 
  /* Track */
  /* ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  } */

  /* Handle */
  /* ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  } */

  /* Handle on hover */
  /* ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  } */
/* } */